
body {
    margin: 0;
    /* font-family: "Playfair Display", serif; */
    font-family:sans-serif;
    /* font-family:Arial, Helvetica, sans-serif; */
}

.panel {
    background-color: white;
    display:flex;
    /*justify-content: space-between;*/
    align-items: center;
    position:sticky;
    top:0;
    padding: 0px 10px; /**/
    height: 60px; /**/
    outline: 3px solid red;
}

.brand {
    text-decoration: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap:5px;
}

.logo {
    width: 55px;
    height: 55px;
    display:block;
}

h1 {
    text-align: left;
    padding-left: 30px;
    font-weight: normal;
    color: rgb(26, 107, 44);
    /* color:olivedrab; */
}

.container {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 25px
}

.B {
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 20px; 
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.B:hover {
    /* color: lightgreen; */
    color:darkgreen;
    /* color:darkolivegreen; */
    /* background-color: gray; */
}

.image {
    /* darken image for more readable text */
    background-image: 
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url("../images/Landscape.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height:700px;
    max-height:70vh;
    /* position: relative;  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image h2, .image p {
    max-width: 1100px;
    /* margin: 0 auto; */
    text-align: center;
    color: white;
    /* padding-bottom:1rem; */
}

.quote {
    text-decoration:none;
    margin-top:1.5rem;
    color: black;
    /* padding-top:4rem; */
    border:none;
    border-radius: 40px;
    font-size:1.5rem;
    padding:1rem 2rem;
    background-color:white;
    transition: 0.4s ease;
}

.quote:visited {
    color:black;
}

.quote:hover {
    /* background-color:olive; */
    background-color:black;
    color:white;
}

.imageHeader {
    padding-top: 10px; /* 50*/
    color: white;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 70px;
    margin: 0;
    padding-bottom:4rem;
}

p {
    color: black;
    text-align:center;
    margin: 10px;
    font-size: 20px;
}

.block {
    /* background-color: rgb(144, 206, 144); */
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.5rem;
    padding-bottom: 5rem;
}

.block h2, .services {
    width: 100%;
    max-width: 1200px;
}

.block h2 {
    padding-bottom:6rem;
}

.blockAlt {
    /* background-color: lightgray; */
    background-color: #eef2f5;

    /* background-color: #0f172a;
    color: white; */

    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.5rem;
    padding-bottom: 5rem;
}

.gallery {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    width:100%;
    max-width:1200px;
}

.gallery img {
    width:100%;
    height:500px;
    object-fit:cover;
}

.services {
    display:grid;
    gap:6rem;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    width:100%;
}

.card {
    /* cursor:pointer; */
    text-decoration: none;
    color: black;

    display:flex;
    align-items: flex-start;
    gap:1rem;
}

.card img {
    width: 100px;
    height:100px;
    flex-shrink:0;
    object-fit:cover;
}

.card-content {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    width:100%;
}

.card h3 {
    margin:0;
    font-size:2rem;
    text-align:left;
    font-weight:normal;
}

.card p {
    margin: 0.5rem 0 0 0;
    text-align:left;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color:black;
    align-items: center;
    padding:0.5rem;
    padding-right:1rem;
    /* padding-left:1rem; */
}

footer p {
    font-size:0.8rem;
    color:white;
}

.socials {
    display:flex;
    gap:1rem;
}

.linkedin {
    width:2.5rem;
    height:2.5rem;

    display:inline-flex;
    align-items:center;
    justify-content:center;

    background:white;
    color: #0a66c2;

    border-radius: 1000px;
    text-decoration: none;
    transition: 0.5s ease;

    /* margin-left: 0.5rem; */
}

.linkedin:hover {
    background: #0a66c2;
    color: white;
    cursor:pointer;
}

.facebook {
    width:2.5rem;
    height:2.5rem;

    display:inline-flex;
    align-items:center;
    justify-content:center;

    background:white;
    color:#0a66c2;

    border-radius:1000px;
    text-decoration: none;
    transition: 0.5s ease;
}

.facebook:hover {
    background:#0a66c2;
    color:white;
    cursor:pointer;
}

.instagram {
    width:2.5rem;
    height:2.5rem;

    display:inline-flex;
    align-items:center;
    justify-content:center;

    background:white;
    color:purple;
    border-radius:1000px;
    text-decoration:none;
    transition: 0.5s ease;
}

.instagram:hover {
    color:white;
    background-color:purple;
    cursor:pointer;
}