
body {
    margin: 0;
    /* font-family: "Playfair Display", serif; */
}

.panel {
    background-color: white;
    display:flex;
    /*justify-content: space-between;*/
    align-items: center;
    position:sticky;
    top:0;
    padding: 0px 10px; /**/
    height: 60px; /**/
    outline: 2px solid red;
}

.brand {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap:5px;
}

.logo {
    width: 55px;
    height: 55px;
    display:block;
}

h1 {
    text-align: left;
    padding-left: 30px;
    font-weight: normal;
    color: rgb(26, 107, 44);
}

.container {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 25px
}

.B {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 20px; 
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.B:hover {
    /*background-color: green;*/
    color: lightgreen;
    background-color: gray;
}

.image {
    /* darken image for more readable text */
    background-image: 
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url("Landscape.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height:500px;
    max-height:60vh;
    /* position: relative;  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image h2, .image p {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.imageHeader {
    padding-top: 50px;
    color: white;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 70px;
    margin: 0;
}

p {
    color: black;
    text-align:center;
    margin: 10px;
    font-size: 20px;
}

.block {
    /* background-color: rgb(144, 206, 144); */
    background-color: white;
    padding: 40px;
}

.blockAlt {
    background-color: lightgrey;
    padding: 40px;
}

.services {
    display:flex;
    gap:20px;
    justify-content:space-between
}

.card {
    flex:1;
    align-items: center;
    gap:15px;
    text-align:center;
}

.card img {
    width: 80px;
    height:80px;
    flex-shrink:0;
    object-fit:cover;
}

footer {
    padding-left:10px;
}